.feature {
	padding: 40px;
	background-color: var(--accent-color);
	user-select: none;
	color: var(--accent-color-contrast);
	margin: 0;
	border-radius: var(--ifm-card-border-radius);
}

.feature:hover {
	background-color: #ded5ef;
	transition: all 0.2s ease-in-out;
	color: var(--accent-color);
}

html[data-theme='dark'] .feature:hover {
	background-color: #2a2e3f;
	color: var(--accent-color-contrast);
}

.header {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.2;
	margin-bottom: 0.5em;
}

.body {
	font-size: 1.125rem;
	opacity: 0.7;
	overflow-wrap: break-word;
}
