:root {
  color: rgba(255, 255, 255, 0.87);

  background: rgb(48, 21, 68);
  background: radial-gradient(
    circle,
    rgba(48, 21, 68, 1) 0%,
    rgba(68, 29, 96, 1) 50%,
    rgba(27, 18, 34, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
html {
  @apply scroll-smooth;
}

body {
  place-items: center;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(241 245 249 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}
