.highlightText {
	color: var(--ifm-color-primary);
}

.addApplicationButton {
	text-transform: uppercase;
	font-size: 24px;
}

@media only screen and (max-height: 800px) {
	.banner {
		height: 100vh;
	}
}
