@media screen and (max-width: 996px) {
	.bannerText {
		order: 1;
	}

	.banner {
		padding: 36px 0;
	}

	.logo {
		width: 100%;
	}

	.buttons {
		justify-content: center;
	}
}

.buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.buttons > * {
	margin: 15px 15px 15px 0px;
}

@media only screen and (max-width: 768px) {
	.gitHubButton {
		display: none;
	}

	.getStartedButton {
		margin: 25px auto 25px auto;
	}
}

@media only screen and (max-height: 800px) {
	.banner {
		height: 100vh;
	}
}

.getStartedButton {
	font-size: 24px;
	font-weight: 700;
	border-width: 2px;
	text-transform: uppercase;
}

.highlightText {
	color: var(--ifm-color-primary);
}

.logo {
	margin: 16px 0;
	transition: all 0.2s ease-in-out;
}

.logo:hover {
	transform: scale(1.05);
}
